<template>
  <div :class="classes">
    <slot/>
  </div>
</template>

<script>

export default {
  props: {
    justify: String,
    rowCols: [String, Number],
    noGutters: Boolean
  },
  computed: {
    classes: function () {
      return {
        'row': true,
        [`justify-content-${this.justify}`]: this.justify,
        [`row-cols-${this.rowCols}`]: this.rowCols,
        'no-gutters': this.noGutters
      }
    }
  },
  name: 'v-row'
}
</script>

<style lang="scss"></style>
