@import '../../styles/_transitions.scss';
@import './_variables.scss';
.select {
  margin: 0 auto;
  position: relative;
  width: 290px;
  max-width: 100%;
  &__error-title{
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    color: $error-color;
  }
  &__header {
    position: relative;
    border: 1px solid $border-color;
    cursor: pointer;
    display: flex;
    .current__item{
      cursor: pointer;
      border: none;
      outline: none;
      font-size: 18px;
      line-height: 24px;
      padding: 8px;
      width: 100%;
      color: $text-color;
    }
    .select__icon{
      display: flex;
      margin-left: auto;
      align-self: center;
      margin-right: 10px;
      font-size: 16px;
      color: $icon-color;
    }
  }
  &__body{
    border: 1px solid $border-color;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    .select__option{
      padding: 10px 0;
      cursor: pointer;
      background: $background-color;
      &:hover, &-active{
        background-color: $background-color-hover;
      }
    }
    .option-label{
      color: $subtext-color;
    }
    .select__no-items{
      padding: 10px 0;
      cursor: pointer;
      background: $background-color;
    }
  }
}
